<!DOCTYPE HTML>
<html xml:th="http://www.thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
    <title>dodawanie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>

<body>
<div class="container">
    <form class="form-horizontal" th:object="${patient}" th:action="@{/patients}" th:method="post">



        <div class="form-group">
            <label class="control-label">Imie</label>
            <input type="text" th:class="form-control" th:field="*{name}"/>
        </div>


        <div class="form-group">
            <label class="control-label">Nazwisko</label>
            <input type="text" th:class="form-control" th:field="*{lastName}"/>
        </div>


        <div class="form-group">
            <label class="control-label">Pesel</label>
            <input type="text" th:class="form-control" th:field="*{pesel}"/>
        </div>


        <div class="form-group">
            <label class="control-label">Miasto</label>
            <input type="text" th:class="form-control" th:field="*{city}"/>
        </div>


        <div class="form-group">
            <label class="control-label">Ulica</label>
            <input type="text" th:class="form-control" th:field="*{street}"/>
        </div>


        <div class="form-group">
            <label class="control-label">Numer domu</label>
            <input type="text" th:class="form-control" th:field="*{houseNumber}"/>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-info btn-block">Wyslij</button>
            <a href="/patients" class="btn btn-secondary btn-lg btn-block btn-sm " role="button">Cofnij</a>
        </div>


    </form>
</div>
</body>


</html>