<!DOCTYPE HTML>
<html xml:th="http://www.thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
    <title>dodawanie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>

<body class="container">


<tbody th:each="description : ${listDescription}">
<tr>
    <label>Wybierz Zadanie</label>
<tr class="radio-inline"><input type="radio" name="optradio" checked>Przyciszk</tr>

</body>


</div>
</table>

<div class="row">
    <a href="/createdescription" class="btn btn-secondary btn-lg btn-block btn-sm" role="button">Dodaj zadanie</a>
</div>
</body>

</html>