<!DOCTYPE HTML>
<html xml:th="http://www.thymeleaf.org" xmlns:th="http://www.springframework.org/schema/jdbc">

<head>
    <title>dodawanie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</head>

<body class="container">
<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Imie</td>
        <td>Nazwisko</td>
        <td>Zadanie</td>
        <td>Usun</td>

    </tr>
    </thead>
    <tbody th:each=" doctor : ${doctors}">
        <tr>
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.name}"></td>
            <td th:text="${doctor.lastName}"></td>
            <td><a href="/description">Dodaj zadanie</a></td>
            <td><a th:href="${'/doctor/delete/'+doctor.id}">Usun</a> </td>
        </tr>

    </tbody>
</table>
<div class="row">
    <a href="/createdoctor" class="btn btn-secondary btn-lg btn-block btn-sm" role="button">Dodaj lekarza</a>
</div>

</body>


</html>
